@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

.home {
	width: 100%;
}

.hero {
	background-image: url("../../../src/assets/img/drill.jpg")

}

.panel {
	background-color: rgba(164, 0, 0, 0.7);
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

.gjhblue{
	background: #11a1f3;
}

.tile {
	background-image: url("../../../src/assets/img/pat/organic-tiles.png")

}
.shadow{
	box-shadow: inset 0px 3px 25px 0 #000000;
}

.dropdown{
	position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}
